node_modules/
dist/
build/

.env
.env.*
src/.env
src/.env.*

GMAIL_PASS.txt
CHAVE API.txt
MINHA CHAVE.txt
licenses.json

uploads/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db
google-oauth-keys.txt
MINHA CHAVE.txt
GMAIL_PASS.txt
CHAVE API - BREVO.txt
CHAVE API.txt
Backup-codes-futureeuah2b.txt
Meus links importantes.txt
Notas sobre*
.env
.env.production
uploads/
INSTALADORES/